<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>author</key>
			<string>净空法师</string>
			<key>ChiFolderName</key>
			<string>认识佛教</string>
			<key>EngFolderName</key>
			<string>UnderstandingBuddhism</string>
			<key>chapters</key>
			<array>
				<dict>
					<key>ChiSuffix</key>
					<string>-01.mp3</string>
					<key>EngSuffix</key>
					<string>-01.mp3</string>
					<key>bytes</key>
					<integer>7198384</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-02.mp3</string>
					<key>EngSuffix</key>
					<string>-02.mp3</string>
					<key>bytes</key>
					<integer>7166040</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-03.mp3</string>
					<key>EngSuffix</key>
					<string>-03.mp3</string>
					<key>bytes</key>
					<integer>6811088</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-04.mp3</string>
					<key>EngSuffix</key>
					<string>-04.mp3</string>
					<key>bytes</key>
					<integer>6819512</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-05.mp3</string>
					<key>EngSuffix</key>
					<string>-05.mp3</string>
					<key>bytes</key>
					<integer>7325784</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-06.mp3</string>
					<key>EngSuffix</key>
					<string>-06.mp3</string>
					<key>bytes</key>
					<integer>14479359</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-07.mp3</string>
					<key>EngSuffix</key>
					<string>-07.mp3</string>
					<key>bytes</key>
					<integer>7064640</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-08.mp3</string>
					<key>EngSuffix</key>
					<string>-08.mp3</string>
					<key>bytes</key>
					<integer>7070464</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-09.mp3</string>
					<key>EngSuffix</key>
					<string>-09.mp3</string>
					<key>bytes</key>
					<integer>6872136</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-10.mp3</string>
					<key>EngSuffix</key>
					<string>-10.mp3</string>
					<key>bytes</key>
					<integer>6860280</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-11.mp3</string>
					<key>EngSuffix</key>
					<string>-11.mp3</string>
					<key>bytes</key>
					<integer>7175400</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-12.mp3</string>
					<key>EngSuffix</key>
					<string>-12.mp3</string>
					<key>bytes</key>
					<integer>7125272</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>文稿.doc</string>
					<key>EngSuffix</key>
					<string>-13.doc</string>
					<key>bytes</key>
					<real>187392</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>author</key>
			<string>净空法师</string>
			<key>ChiFolderName</key>
			<string>三皈传授</string>
			<key>EngFolderName</key>
			<string>3Refuges</string>
			<key>chapters</key>
			<array>
				<dict>
					<key>ChiSuffix</key>
					<string>-01.mp3</string>
					<key>EngSuffix</key>
					<string>-01.mp3</string>
					<key>bytes</key>
					<integer>8549158</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-02.mp3</string>
					<key>EngSuffix</key>
					<string>-02.mp3</string>
					<key>bytes</key>
					<integer>9196629</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>文稿.doc</string>
					<key>EngSuffix</key>
					<string>-03.doc</string>
					<key>bytes</key>
					<real>54272</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>author</key>
			<string>袁了凡</string>
			<key>ChiFolderName</key>
			<string>了凡四训</string>
			<key>EngFolderName</key>
			<string>LiaoFan</string>
			<key>chapters</key>
			<array>
				<dict>
					<key>ChiSuffix</key>
					<string>-01.mp3</string>
					<key>EngSuffix</key>
					<string>-01.mp3</string>
					<key>bytes</key>
					<integer>7054779</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-02.mp3</string>
					<key>EngSuffix</key>
					<string>-02.mp3</string>
					<key>bytes</key>
					<integer>7096574</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-03.mp3</string>
					<key>EngSuffix</key>
					<string>-03.mp3</string>
					<key>bytes</key>
					<integer>6823334</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-04.mp3</string>
					<key>EngSuffix</key>
					<string>-04.mp3</string>
					<key>bytes</key>
					<integer>6929391</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-05.mp3</string>
					<key>EngSuffix</key>
					<string>-05.mp3</string>
					<key>bytes</key>
					<integer>6801391</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-06.mp3</string>
					<key>EngSuffix</key>
					<string>-06.mp3</string>
					<key>bytes</key>
					<integer>6414674</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>文稿.doc</string>
					<key>EngSuffix</key>
					<string>-07.doc</string>
					<key>bytes</key>
					<real>114176</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>author</key>
			<string>净空法师</string>
			<key>ChiFolderName</key>
			<string>修福积德造命法</string>
			<key>EngFolderName</key>
			<string>GoodLifeCreation</string>
			<key>chapters</key>
			<array>
				<dict>
					<key>ChiSuffix</key>
					<string>-01.mp3</string>
					<key>EngSuffix</key>
					<string>-01.mp3</string>
					<key>bytes</key>
					<integer>10038960</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-02.mp3</string>
					<key>EngSuffix</key>
					<string>-02.mp3</string>
					<key>bytes</key>
					<integer>9393552</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-03.mp3</string>
					<key>EngSuffix</key>
					<string>-03.mp3</string>
					<key>bytes</key>
					<integer>10467936</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-04.mp3</string>
					<key>EngSuffix</key>
					<string>-04.mp3</string>
					<key>bytes</key>
					<integer>10215216</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-05.mp3</string>
					<key>EngSuffix</key>
					<string>-05.mp3</string>
					<key>bytes</key>
					<integer>10069200</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-06.mp3</string>
					<key>EngSuffix</key>
					<string>-06.mp3</string>
					<key>bytes</key>
					<integer>10497168</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-07.mp3</string>
					<key>EngSuffix</key>
					<string>-07.mp3</string>
					<key>bytes</key>
					<integer>9817920</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-08.mp3</string>
					<key>EngSuffix</key>
					<string>-08.mp3</string>
					<key>bytes</key>
					<integer>9774144</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-09.mp3</string>
					<key>EngSuffix</key>
					<string>-09.mp3</string>
					<key>bytes</key>
					<integer>9964080</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-10.mp3</string>
					<key>EngSuffix</key>
					<string>-10.mp3</string>
					<key>bytes</key>
					<integer>9868752</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-11.mp3</string>
					<key>EngSuffix</key>
					<string>-11.mp3</string>
					<key>bytes</key>
					<integer>9709632</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-12.mp3</string>
					<key>EngSuffix</key>
					<string>-12.mp3</string>
					<key>bytes</key>
					<integer>9693072</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-13.mp3</string>
					<key>EngSuffix</key>
					<string>-13.mp3</string>
					<key>bytes</key>
					<integer>10335168</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-14.mp3</string>
					<key>EngSuffix</key>
					<string>-14.mp3</string>
					<key>bytes</key>
					<integer>10562832</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-15.mp3</string>
					<key>EngSuffix</key>
					<string>-15.mp3</string>
					<key>bytes</key>
					<integer>7225056</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-16.mp3</string>
					<key>EngSuffix</key>
					<string>-16.mp3</string>
					<key>bytes</key>
					<integer>7216848</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>文稿.doc</string>
					<key>EngSuffix</key>
					<string>-17.doc</string>
					<key>bytes</key>
					<real>523264</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>author</key>
			<string>净空法师</string>
			<key>ChiFolderName</key>
			<string>无量寿经介绍</string>
			<key>EngFolderName</key>
			<string>EternitySutraIntro</string>
			<key>chapters</key>
			<array>
				<dict>
					<key>ChiSuffix</key>
					<string>-01.mp3</string>
					<key>EngSuffix</key>
					<string>-01.mp3</string>
					<key>bytes</key>
					<integer>10007406</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-02.mp3</string>
					<key>EngSuffix</key>
					<string>-02.mp3</string>
					<key>bytes</key>
					<integer>10045231</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>文稿.doc</string>
					<key>EngSuffix</key>
					<string>-03.doc</string>
					<key>bytes</key>
					<real>48128</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>author</key>
			<string>净空法师</string>
			<key>ChiFolderName</key>
			<string>无量寿经选读</string>
			<key>EngFolderName</key>
			<string>EternitySutraSelection</string>
			<key>chapters</key>
			<array>
				<dict>
					<key>ChiSuffix</key>
					<string>-01.mp3</string>
					<key>EngSuffix</key>
					<string>-01.mp3</string>
					<key>bytes</key>
					<integer>11174508</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-02.mp3</string>
					<key>EngSuffix</key>
					<string>-02.mp3</string>
					<key>bytes</key>
					<integer>11023973</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-03.mp3</string>
					<key>EngSuffix</key>
					<string>-03.mp3</string>
					<key>bytes</key>
					<integer>11064620</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-04.mp3</string>
					<key>EngSuffix</key>
					<string>-04.mp3</string>
					<key>bytes</key>
					<integer>11156362</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-05.mp3</string>
					<key>EngSuffix</key>
					<string>-05.mp3</string>
					<key>bytes</key>
					<integer>11035676</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-06.mp3</string>
					<key>EngSuffix</key>
					<string>-06.mp3</string>
					<key>bytes</key>
					<integer>11104640</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-07.mp3</string>
					<key>EngSuffix</key>
					<string>-07.mp3</string>
					<key>bytes</key>
					<integer>11194396</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-08.mp3</string>
					<key>EngSuffix</key>
					<string>-08.mp3</string>
					<key>bytes</key>
					<integer>11169005</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-09.mp3</string>
					<key>EngSuffix</key>
					<string>-09.mp3</string>
					<key>bytes</key>
					<integer>11162945</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-10.mp3</string>
					<key>EngSuffix</key>
					<string>-10.mp3</string>
					<key>bytes</key>
					<integer>11098161</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-11.mp3</string>
					<key>EngSuffix</key>
					<string>-11.mp3</string>
					<key>bytes</key>
					<integer>6135000</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-12.mp3</string>
					<key>EngSuffix</key>
					<string>-12.mp3</string>
					<key>bytes</key>
					<integer>5839712</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>author</key>
			<string>净空法师</string>
			<key>ChiFolderName</key>
			<string>无量寿经菁华</string>
			<key>EngFolderName</key>
			<string>EternitySutraEssence</string>
			<key>chapters</key>
			<array>
				<dict>
					<key>ChiSuffix</key>
					<string>-01.mp3</string>
					<key>EngSuffix</key>
					<string>-01.mp3</string>
					<key>bytes</key>
					<integer>10308081</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-02.mp3</string>
					<key>EngSuffix</key>
					<string>-02.mp3</string>
					<key>bytes</key>
					<integer>10076845</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-03.mp3</string>
					<key>EngSuffix</key>
					<string>-03.mp3</string>
					<key>bytes</key>
					<integer>9260257</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-04.mp3</string>
					<key>EngSuffix</key>
					<string>-04.mp3</string>
					<key>bytes</key>
					<integer>8772169</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-05.mp3</string>
					<key>EngSuffix</key>
					<string>-05.mp3</string>
					<key>bytes</key>
					<integer>9699323</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-06.mp3</string>
					<key>EngSuffix</key>
					<string>-06.mp3</string>
					<key>bytes</key>
					<integer>9205191</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-07.mp3</string>
					<key>EngSuffix</key>
					<string>-07.mp3</string>
					<key>bytes</key>
					<integer>9371330</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-08.mp3</string>
					<key>EngSuffix</key>
					<string>-08.mp3</string>
					<key>bytes</key>
					<integer>7914324</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-09.mp3</string>
					<key>EngSuffix</key>
					<string>-09.mp3</string>
					<key>bytes</key>
					<integer>9248554</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-10.mp3</string>
					<key>EngSuffix</key>
					<string>-10.mp3</string>
					<key>bytes</key>
					<integer>8047862</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>.pdf</string>
					<key>EngSuffix</key>
					<string>-11.pdf</string>
					<key>bytes</key>
					<real>643494</real>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>文稿.doc</string>
					<key>EngSuffix</key>
					<string>-12.doc</string>
					<key>bytes</key>
					<real>163840</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>author</key>
			<string>净空法师</string>
			<key>ChiFolderName</key>
			<string>阿弥陀佛四十八愿</string>
			<key>EngFolderName</key>
			<string>48Wishes</string>
			<key>chapters</key>
			<array>
				<dict>
					<key>ChiSuffix</key>
					<string>-01.mp3</string>
					<key>EngSuffix</key>
					<string>-01.mp3</string>
					<key>bytes</key>
					<integer>10595648</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-02.mp3</string>
					<key>EngSuffix</key>
					<string>-02.mp3</string>
					<key>bytes</key>
					<integer>10274912</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-03.mp3</string>
					<key>EngSuffix</key>
					<string>-03.mp3</string>
					<key>bytes</key>
					<integer>10783784</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-04.mp3</string>
					<key>EngSuffix</key>
					<string>-04.mp3</string>
					<key>bytes</key>
					<integer>10706616</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-05.mp3</string>
					<key>EngSuffix</key>
					<string>-05.mp3</string>
					<key>bytes</key>
					<integer>10423112</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-06.mp3</string>
					<key>EngSuffix</key>
					<string>-06.mp3</string>
					<key>bytes</key>
					<integer>10309440</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-07.mp3</string>
					<key>EngSuffix</key>
					<string>-07.mp3</string>
					<key>bytes</key>
					<integer>10320152</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-08.mp3</string>
					<key>EngSuffix</key>
					<string>-08.mp3</string>
					<key>bytes</key>
					<integer>10103208</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-09.mp3</string>
					<key>EngSuffix</key>
					<string>-09.mp3</string>
					<key>bytes</key>
					<integer>9938264</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-10.mp3</string>
					<key>EngSuffix</key>
					<string>-10.mp3</string>
					<key>bytes</key>
					<integer>9845808</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-11.mp3</string>
					<key>EngSuffix</key>
					<string>-11.mp3</string>
					<key>bytes</key>
					<integer>6359000</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-12.mp3</string>
					<key>EngSuffix</key>
					<string>-12.mp3</string>
					<key>bytes</key>
					<integer>6445840</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>.pdf</string>
					<key>EngSuffix</key>
					<string>-13.pdf</string>
					<key>bytes</key>
					<real>302694</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>author</key>
			<string>净空法师</string>
			<key>ChiFolderName</key>
			<string>净语录</string>
			<key>EngFolderName</key>
			<string>PureLandQuotes</string>
			<key>chapters</key>
			<array>
				<dict>
					<key>ChiSuffix</key>
					<string>-01.mp3</string>
					<key>EngSuffix</key>
					<string>-01.mp3</string>
					<key>bytes</key>
					<integer>13576592</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-02.mp3</string>
					<key>EngSuffix</key>
					<string>-02.mp3</string>
					<key>bytes</key>
					<integer>13450472</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-03.mp3</string>
					<key>EngSuffix</key>
					<string>-03.mp3</string>
					<key>bytes</key>
					<integer>13406772</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-04.mp3</string>
					<key>EngSuffix</key>
					<string>-04.mp3</string>
					<key>bytes</key>
					<integer>13687455</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-05.mp3</string>
					<key>EngSuffix</key>
					<string>-05.mp3</string>
					<key>bytes</key>
					<integer>13213072</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-06.mp3</string>
					<key>EngSuffix</key>
					<string>-06.mp3</string>
					<key>bytes</key>
					<integer>13282035</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-07.mp3</string>
					<key>EngSuffix</key>
					<string>-07.mp3</string>
					<key>bytes</key>
					<integer>13761225</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-08.mp3</string>
					<key>EngSuffix</key>
					<string>-08.mp3</string>
					<key>bytes</key>
					<integer>13571472</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>author</key>
			<string>净空法师</string>
			<key>ChiFolderName</key>
			<string>无住生心集</string>
			<key>EngFolderName</key>
			<string>NoAttachedHeart</string>
			<key>chapters</key>
			<array>
				<dict>
					<key>ChiSuffix</key>
					<string>-01.mp3</string>
					<key>EngSuffix</key>
					<string>-01.mp3</string>
					<key>bytes</key>
					<integer>7229024</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-02.mp3</string>
					<key>EngSuffix</key>
					<string>-02.mp3</string>
					<key>bytes</key>
					<integer>7141461</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-03.mp3</string>
					<key>EngSuffix</key>
					<string>-03.mp3</string>
					<key>bytes</key>
					<integer>6328217</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-04.mp3</string>
					<key>EngSuffix</key>
					<string>-04.mp3</string>
					<key>bytes</key>
					<integer>6305229</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-05.mp3</string>
					<key>EngSuffix</key>
					<string>-05.mp3</string>
					<key>bytes</key>
					<integer>6590800</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-06.mp3</string>
					<key>EngSuffix</key>
					<string>-06.mp3</string>
					<key>bytes</key>
					<integer>6752759</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>文稿.doc</string>
					<key>EngSuffix</key>
					<string>-07.doc</string>
					<key>bytes</key>
					<real>90112</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>author</key>
			<string>释世了</string>
			<key>ChiFolderName</key>
			<string>饬终须知</string>
			<key>EngFolderName</key>
			<string>TranscendPrerequests</string>
			<key>chapters</key>
			<array>
				<dict>
					<key>ChiSuffix</key>
					<string>-01.mp3</string>
					<key>EngSuffix</key>
					<string>-01.mp3</string>
					<key>bytes</key>
					<integer>7233241</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-02.mp3</string>
					<key>EngSuffix</key>
					<string>-02.mp3</string>
					<key>bytes</key>
					<integer>6689058</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-03.mp3</string>
					<key>EngSuffix</key>
					<string>-03.mp3</string>
					<key>bytes</key>
					<integer>6734824</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-04.mp3</string>
					<key>EngSuffix</key>
					<string>-04.mp3</string>
					<key>bytes</key>
					<integer>6776411</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>文稿.doc</string>
					<key>EngSuffix</key>
					<string>-05.doc</string>
					<key>bytes</key>
					<real>86016</real>
				</dict>
			</array>
		</dict>
	</array>
	<array>
		<dict>
			<key>author</key>
			<string>净宗学会</string>
			<key>ChiFolderName</key>
			<string>阿弥陀佛圣号</string>
			<key>EngFolderName</key>
			<string>ReadAmitabha</string>
			<key>chapters</key>
			<array>
				<dict>
					<key>ChiSuffix</key>
					<string>-01.mp3</string>
					<key>EngSuffix</key>
					<string>-01.mp3</string>
					<key>bytes</key>
					<integer>13819401</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-02.mp3</string>
					<key>EngSuffix</key>
					<string>-02.mp3</string>
					<key>bytes</key>
					<integer>12994350</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>author</key>
			<string>净宗学会</string>
			<key>ChiFolderName</key>
			<string>无量寿经恭诵</string>
			<key>EngFolderName</key>
			<string>ReadEternitySutra</string>
			<key>chapters</key>
			<array>
				<dict>
					<key>ChiSuffix</key>
					<string>-01.mp3</string>
					<key>EngSuffix</key>
					<string>-01.mp3</string>
					<key>bytes</key>
					<integer>5734255</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-02.mp3</string>
					<key>EngSuffix</key>
					<string>-02.mp3</string>
					<key>bytes</key>
					<integer>5697684</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-03.mp3</string>
					<key>EngSuffix</key>
					<string>-03.mp3</string>
					<key>bytes</key>
					<integer>5632273</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-04.mp3</string>
					<key>EngSuffix</key>
					<string>-04.mp3</string>
					<key>bytes</key>
					<integer>5601866</integer>
				</dict>
			</array>
		</dict>
	</array>
</array>
</plist>
